$cs-black: black;
$cs-white: white;
.md-tag {
    display: inline-block;
    margin: px2rem(9px) 0;
    padding-right: px2rem(10px);
    border-radius: px2rem(4px);
    background-color: lighten($cs-black, 5%);
    font-size: ms(-1);
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
    color: $cs-white !important;
  
    // Icon
    svg {
      display: inline-block;
      margin-right: px2rem(5px);
      padding: px2rem(2px) px2rem(8px);
      width: 38px;
      height: 38px;
      background-color: lighten($cs-black, 15%);
      vertical-align: middle;
      fill: $md-color-white--light;
    }
  
    // Hovered tag
    &:hover {
      @include z-depth-focus;
      background-color: lighten($cs-black, 15%);
  
      // Icon
      svg {
        fill: var(--color-accent);
        background-color: lighten($cs-black, 5%);
      }
    }
  }